USE [master]
GO
/****** Object:  Database [bd_nursing_homecare]    Script Date: 28/05/2026 23:58:36 ******/
CREATE DATABASE [bd_nursing_homecare]
 CONTAINMENT = NONE
 ON  PRIMARY 
ALTER DATABASE [bd_nursing_homecare] SET COMPATIBILITY_LEVEL = 170
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd_nursing_homecare].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd_nursing_homecare]
GO
/****** Object:  Table [dbo].[Catalogo_Servicios]    Script Date: 28/05/2026 23:58:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Servicios](
	[ID_Servicio] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Servicio] [varchar](100) NOT NULL,
	[Complejidad] [varchar](20) NOT NULL,
	[Tarifa_Base] [decimal](10, 2) NOT NULL,
	[Duracion_Est_Horas] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK_Servicios] PRIMARY KEY CLUSTERED 
(
	[ID_Servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cronograma_Turnos]    Script Date: 28/05/2026 23:58:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cronograma_Turnos](
	[ID_Turno] [int] IDENTITY(1,1) NOT NULL,
	[ID_Solicitud] [int] NOT NULL,
	[ID_Personal] [int] NULL,
	[FecHora_Prog_Inicio] [datetime] NOT NULL,
	[FecHora_Prog_Fin] [datetime] NOT NULL,
	[FecHora_Real_Llegada] [datetime] NULL,
	[FecHora_Real_Salida] [datetime] NULL,
	[Estado_Turno] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Turno] PRIMARY KEY CLUSTERED 
(
	[ID_Turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Pacientes]    Script Date: 28/05/2026 23:58:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Pacientes](
	[ID_Paciente] [int] IDENTITY(1,1) NOT NULL,
	[Num_Doc_Paciente] [varchar](15) NOT NULL,
	[Nombre_Completo] [varchar](150) NOT NULL,
	[Fec_Nacimiento] [date] NOT NULL,
	[Direccion_Atencion] [varchar](255) NOT NULL,
	[Alergias_Base] [varchar](500) NULL,
 CONSTRAINT [PK_Pacientes] PRIMARY KEY CLUSTERED 
(
	[ID_Paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Responsables]    Script Date: 28/05/2026 23:58:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Responsables](
	[ID_Responsable] [int] IDENTITY(1,1) NOT NULL,
	[Num_Doc_Responsable] [varchar](15) NOT NULL,
	[Nombre_Completo] [varchar](150) NOT NULL,
	[Celular_WhatsApp] [varchar](20) NOT NULL,
	[Email_Contacto] [varchar](100) NULL,
 CONSTRAINT [PK_Responsables] PRIMARY KEY CLUSTERED 
(
	[ID_Responsable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historial_Estados]    Script Date: 28/05/2026 23:58:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historial_Estados](
	[ID_Historial] [int] IDENTITY(1,1) NOT NULL,
	[ID_Turno] [int] NOT NULL,
	[Estado_Anterior] [varchar](20) NULL,
	[Estado_Nuevo] [varchar](20) NOT NULL,
	[FecHora_Cambio] [datetime] NOT NULL,
 CONSTRAINT [PK_Historial] PRIMARY KEY CLUSTERED 
(
	[ID_Historial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago_Virtual]    Script Date: 28/05/2026 23:58:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago_Virtual](
	[ID_Pago] [int] IDENTITY(1,1) NOT NULL,
	[ID_Turno] [int] NOT NULL,
	[Monto_Abonado] [decimal](10, 2) NOT NULL,
	[Plataforma_Pago] [varchar](30) NOT NULL,
	[Num_Operacion] [varchar](50) NOT NULL,
	[FecHora_Pago] [datetime] NOT NULL,
 CONSTRAINT [PK_Pago] PRIMARY KEY CLUSTERED 
(
	[ID_Pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personal_Enfermeria]    Script Date: 28/05/2026 23:58:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal_Enfermeria](
	[ID_Personal] [int] IDENTITY(1,1) NOT NULL,
	[Num_Doc_Personal] [varchar](15) NOT NULL,
	[Nombre_Completo] [varchar](150) NOT NULL,
	[Num_Colegiatura] [varchar](20) NOT NULL,
	[Especialidad] [varchar](50) NOT NULL,
	[Celular_Contacto] [varchar](20) NOT NULL,
	[Estado_Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Personal] PRIMARY KEY CLUSTERED 
(
	[ID_Personal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registro_Evolucion]    Script Date: 28/05/2026 23:58:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registro_Evolucion](
	[ID_Evolucion] [int] IDENTITY(1,1) NOT NULL,
	[ID_Turno] [int] NOT NULL,
	[Nota_Subjetivo] [varchar](max) NOT NULL,
	[Nota_Objetivo] [varchar](max) NOT NULL,
	[Nota_Analisis] [varchar](max) NOT NULL,
	[Nota_Plan] [varchar](max) NOT NULL,
	[Nota_Intervencion] [varchar](max) NOT NULL,
	[Nota_Evaluacion] [varchar](max) NOT NULL,
	[FecHora_Registro] [datetime] NOT NULL,
 CONSTRAINT [PK_Evolucion] PRIMARY KEY CLUSTERED 
(
	[ID_Evolucion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solicitud_Servicio]    Script Date: 28/05/2026 23:58:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitud_Servicio](
	[ID_Solicitud] [int] IDENTITY(1,1) NOT NULL,
	[ID_Paciente] [int] NOT NULL,
	[ID_Responsable] [int] NOT NULL,
	[ID_Servicio] [int] NOT NULL,
	[Fecha_Creacion] [datetime] NOT NULL,
	[Canal_Ingreso] [varchar](30) NOT NULL,
	[Estado_Global] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Solicitud] PRIMARY KEY CLUSTERED 
(
	[ID_Solicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Catalogo_Servicios] ON 

INSERT [dbo].[Catalogo_Servicios] ([ID_Servicio], [Nombre_Servicio], [Complejidad], [Tarifa_Base], [Duracion_Est_Horas]) VALUES (1, N'Aplicación de Inyectables', N'Baja', CAST(30.00 AS Decimal(10, 2)), CAST(0.50 AS Decimal(4, 2)))
INSERT [dbo].[Catalogo_Servicios] ([ID_Servicio], [Nombre_Servicio], [Complejidad], [Tarifa_Base], [Duracion_Est_Horas]) VALUES (2, N'Curación de Heridas Ambulatoria', N'Media', CAST(60.00 AS Decimal(10, 2)), CAST(1.00 AS Decimal(4, 2)))
INSERT [dbo].[Catalogo_Servicios] ([ID_Servicio], [Nombre_Servicio], [Complejidad], [Tarifa_Base], [Duracion_Est_Horas]) VALUES (3, N'Monitoreo UCI Domiciliario', N'Alta', CAST(250.00 AS Decimal(10, 2)), CAST(12.00 AS Decimal(4, 2)))
SET IDENTITY_INSERT [dbo].[Catalogo_Servicios] OFF
GO
SET IDENTITY_INSERT [dbo].[Cronograma_Turnos] ON 

INSERT [dbo].[Cronograma_Turnos] ([ID_Turno], [ID_Solicitud], [ID_Personal], [FecHora_Prog_Inicio], [FecHora_Prog_Fin], [FecHora_Real_Llegada], [FecHora_Real_Salida], [Estado_Turno]) VALUES (1, 1, 1, CAST(N'2026-05-02T08:00:00.000' AS DateTime), CAST(N'2026-05-02T08:30:00.000' AS DateTime), CAST(N'2026-05-02T07:55:00.000' AS DateTime), CAST(N'2026-05-02T08:35:00.000' AS DateTime), N'Completado')
INSERT [dbo].[Cronograma_Turnos] ([ID_Turno], [ID_Solicitud], [ID_Personal], [FecHora_Prog_Inicio], [FecHora_Prog_Fin], [FecHora_Real_Llegada], [FecHora_Real_Salida], [Estado_Turno]) VALUES (2, 2, 2, CAST(N'2026-05-03T09:00:00.000' AS DateTime), CAST(N'2026-05-03T10:00:00.000' AS DateTime), CAST(N'2026-05-03T08:50:00.000' AS DateTime), CAST(N'2026-05-03T10:10:00.000' AS DateTime), N'Completado')
INSERT [dbo].[Cronograma_Turnos] ([ID_Turno], [ID_Solicitud], [ID_Personal], [FecHora_Prog_Inicio], [FecHora_Prog_Fin], [FecHora_Real_Llegada], [FecHora_Real_Salida], [Estado_Turno]) VALUES (3, 3, 5, CAST(N'2026-05-04T20:00:00.000' AS DateTime), CAST(N'2026-05-05T08:00:00.000' AS DateTime), CAST(N'2026-05-04T19:55:00.000' AS DateTime), CAST(N'2026-05-05T08:05:00.000' AS DateTime), N'Completado')
SET IDENTITY_INSERT [dbo].[Cronograma_Turnos] OFF
GO
SET IDENTITY_INSERT [dbo].[Dim_Pacientes] ON 

INSERT [dbo].[Dim_Pacientes] ([ID_Paciente], [Num_Doc_Paciente], [Nombre_Completo], [Fec_Nacimiento], [Direccion_Atencion], [Alergias_Base]) VALUES (1, N'08123456', N'María Rosa Pérez Gonzales', CAST(N'1945-05-12' AS Date), N'Av. Larco 123, Miraflores', N'Penicilina')
INSERT [dbo].[Dim_Pacientes] ([ID_Paciente], [Num_Doc_Paciente], [Nombre_Completo], [Fec_Nacimiento], [Direccion_Atencion], [Alergias_Base]) VALUES (2, N'09234567', N'José Luis Torres Vargas', CAST(N'1950-08-22' AS Date), N'Calle Los Pinos 456, Surco', NULL)
INSERT [dbo].[Dim_Pacientes] ([ID_Paciente], [Num_Doc_Paciente], [Nombre_Completo], [Fec_Nacimiento], [Direccion_Atencion], [Alergias_Base]) VALUES (3, N'10345678', N'Carmen Julia López Neyra', CAST(N'1938-11-05' AS Date), N'Av. Arequipa 789, Lince', N'Polvo, Ácaros')
SET IDENTITY_INSERT [dbo].[Dim_Pacientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Dim_Responsables] ON 

INSERT [dbo].[Dim_Responsables] ([ID_Responsable], [Num_Doc_Responsable], [Nombre_Completo], [Celular_WhatsApp], [Email_Contacto]) VALUES (1, N'40123456', N'Carlos Pérez Pérez', N'987654321', N'cperez@gmail.com')
INSERT [dbo].[Dim_Responsables] ([ID_Responsable], [Num_Doc_Responsable], [Nombre_Completo], [Celular_WhatsApp], [Email_Contacto]) VALUES (2, N'41234567', N'Ana Torres Vargas', N'987654322', N'atorres@hotmail.com')
INSERT [dbo].[Dim_Responsables] ([ID_Responsable], [Num_Doc_Responsable], [Nombre_Completo], [Celular_WhatsApp], [Email_Contacto]) VALUES (3, N'42345678', N'Luis López Neyra', N'987654323', N'llopez@empresa.pe')
SET IDENTITY_INSERT [dbo].[Dim_Responsables] OFF
GO
SET IDENTITY_INSERT [dbo].[Historial_Estados] ON 

INSERT [dbo].[Historial_Estados] ([ID_Historial], [ID_Turno], [Estado_Anterior], [Estado_Nuevo], [FecHora_Cambio]) VALUES (1, 1, NULL, N'Pendiente', CAST(N'2026-05-01T08:05:00.000' AS DateTime))
INSERT [dbo].[Historial_Estados] ([ID_Historial], [ID_Turno], [Estado_Anterior], [Estado_Nuevo], [FecHora_Cambio]) VALUES (2, 1, N'Pendiente', N'Asignado', CAST(N'2026-05-01T09:00:00.000' AS DateTime))
INSERT [dbo].[Historial_Estados] ([ID_Historial], [ID_Turno], [Estado_Anterior], [Estado_Nuevo], [FecHora_Cambio]) VALUES (3, 1, N'Asignado', N'En Curso', CAST(N'2026-05-02T07:55:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Historial_Estados] OFF
GO
SET IDENTITY_INSERT [dbo].[Pago_Virtual] ON 

INSERT [dbo].[Pago_Virtual] ([ID_Pago], [ID_Turno], [Monto_Abonado], [Plataforma_Pago], [Num_Operacion], [FecHora_Pago]) VALUES (1, 1, CAST(30.00 AS Decimal(10, 2)), N'Yape', N'OPE-0001-Y', CAST(N'2026-05-02T08:40:00.000' AS DateTime))
INSERT [dbo].[Pago_Virtual] ([ID_Pago], [ID_Turno], [Monto_Abonado], [Plataforma_Pago], [Num_Operacion], [FecHora_Pago]) VALUES (2, 2, CAST(60.00 AS Decimal(10, 2)), N'Plin', N'OPE-0002-P', CAST(N'2026-05-03T10:15:00.000' AS DateTime))
INSERT [dbo].[Pago_Virtual] ([ID_Pago], [ID_Turno], [Monto_Abonado], [Plataforma_Pago], [Num_Operacion], [FecHora_Pago]) VALUES (3, 3, CAST(250.00 AS Decimal(10, 2)), N'Transferencia BCP', N'OPE-0003-B', CAST(N'2026-05-05T08:30:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Pago_Virtual] OFF
GO
SET IDENTITY_INSERT [dbo].[Personal_Enfermeria] ON 

INSERT [dbo].[Personal_Enfermeria] ([ID_Personal], [Num_Doc_Personal], [Nombre_Completo], [Num_Colegiatura], [Especialidad], [Celular_Contacto], [Estado_Activo]) VALUES (1, N'45123456', N'Luigui Alfredo Arroyo Bruno', N'CEP-10112', N'Cuidados Intensivos', N'912345671', 1)
INSERT [dbo].[Personal_Enfermeria] ([ID_Personal], [Num_Doc_Personal], [Nombre_Completo], [Num_Colegiatura], [Especialidad], [Celular_Contacto], [Estado_Activo]) VALUES (2, N'46234567', N'Caren Dalia Díaz Antonio', N'CEP-20223', N'Geriatría', N'912345672', 1)
INSERT [dbo].[Personal_Enfermeria] ([ID_Personal], [Num_Doc_Personal], [Nombre_Completo], [Num_Colegiatura], [Especialidad], [Celular_Contacto], [Estado_Activo]) VALUES (3, N'47345678', N'Liliana Flor de María Montenegro', N'CEP-30334', N'General', N'912345673', 1)
SET IDENTITY_INSERT [dbo].[Personal_Enfermeria] OFF
GO
SET IDENTITY_INSERT [dbo].[Registro_Evolucion] ON 

INSERT [dbo].[Registro_Evolucion] ([ID_Evolucion], [ID_Turno], [Nota_Subjetivo], [Nota_Objetivo], [Nota_Analisis], [Nota_Plan], [Nota_Intervencion], [Nota_Evaluacion], [FecHora_Registro]) VALUES (1, 1, N'Paciente refiere dolor leve', N'SV estables', N'Dolor controlado', N'Administrar medicación', N'Inyectable aplicado IM', N'Paciente sin reacciones adversas', CAST(N'2026-05-28T23:46:51.143' AS DateTime))
INSERT [dbo].[Registro_Evolucion] ([ID_Evolucion], [ID_Turno], [Nota_Subjetivo], [Nota_Objetivo], [Nota_Analisis], [Nota_Plan], [Nota_Intervencion], [Nota_Evaluacion], [FecHora_Registro]) VALUES (2, 2, N'Refiere picor en herida', N'Herida con bordes limpios', N'Herida en proceso de cicatrización', N'Limpieza y nuevo apósito', N'Curación plana', N'Acepta procedimiento, herida limpia', CAST(N'2026-05-28T23:46:51.143' AS DateTime))
INSERT [dbo].[Registro_Evolucion] ([ID_Evolucion], [ID_Turno], [Nota_Subjetivo], [Nota_Objetivo], [Nota_Analisis], [Nota_Plan], [Nota_Intervencion], [Nota_Evaluacion], [FecHora_Registro]) VALUES (3, 3, N'Familiar indica noche tranquila', N'Saturación 98%, FC 75', N'Estabilidad hemodinámica', N'Mantener monitoreo continuo', N'Control de SV cada hora', N'Turno sin incidencias', CAST(N'2026-05-28T23:46:51.143' AS DateTime))
SET IDENTITY_INSERT [dbo].[Registro_Evolucion] OFF
GO
SET IDENTITY_INSERT [dbo].[Solicitud_Servicio] ON 

INSERT [dbo].[Solicitud_Servicio] ([ID_Solicitud], [ID_Paciente], [ID_Responsable], [ID_Servicio], [Fecha_Creacion], [Canal_Ingreso], [Estado_Global]) VALUES (1, 1, 1, 1, CAST(N'2026-05-01T08:00:00.000' AS DateTime), N'WhatsApp', N'Completado')
INSERT [dbo].[Solicitud_Servicio] ([ID_Solicitud], [ID_Paciente], [ID_Responsable], [ID_Servicio], [Fecha_Creacion], [Canal_Ingreso], [Estado_Global]) VALUES (2, 2, 2, 2, CAST(N'2026-05-02T09:15:00.000' AS DateTime), N'Llamada', N'Completado')
INSERT [dbo].[Solicitud_Servicio] ([ID_Solicitud], [ID_Paciente], [ID_Responsable], [ID_Servicio], [Fecha_Creacion], [Canal_Ingreso], [Estado_Global]) VALUES (3, 3, 3, 3, CAST(N'2026-05-03T10:30:00.000' AS DateTime), N'Correo', N'Completado')
SET IDENTITY_INSERT [dbo].[Solicitud_Servicio] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Nombre_Servicio]    Script Date: 28/05/2026 23:58:37 ******/
ALTER TABLE [dbo].[Catalogo_Servicios] ADD  CONSTRAINT [UQ_Nombre_Servicio] UNIQUE NONCLUSTERED 
(
	[Nombre_Servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Doc_Paciente]    Script Date: 28/05/2026 23:58:37 ******/
ALTER TABLE [dbo].[Dim_Pacientes] ADD  CONSTRAINT [UQ_Doc_Paciente] UNIQUE NONCLUSTERED 
(
	[Num_Doc_Paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Doc_Responsable]    Script Date: 28/05/2026 23:58:37 ******/
ALTER TABLE [dbo].[Dim_Responsables] ADD  CONSTRAINT [UQ_Doc_Responsable] UNIQUE NONCLUSTERED 
(
	[Num_Doc_Responsable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Num_Operacion]    Script Date: 28/05/2026 23:58:37 ******/
ALTER TABLE [dbo].[Pago_Virtual] ADD  CONSTRAINT [UQ_Num_Operacion] UNIQUE NONCLUSTERED 
(
	[Num_Operacion] ASC,
	[Plataforma_Pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Pago_Turno]    Script Date: 28/05/2026 23:58:37 ******/
ALTER TABLE [dbo].[Pago_Virtual] ADD  CONSTRAINT [UQ_Pago_Turno] UNIQUE NONCLUSTERED 
(
	[ID_Turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Colegiatura]    Script Date: 28/05/2026 23:58:37 ******/
ALTER TABLE [dbo].[Personal_Enfermeria] ADD  CONSTRAINT [UQ_Colegiatura] UNIQUE NONCLUSTERED 
(
	[Num_Colegiatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Doc_Personal]    Script Date: 28/05/2026 23:58:37 ******/
ALTER TABLE [dbo].[Personal_Enfermeria] ADD  CONSTRAINT [UQ_Doc_Personal] UNIQUE NONCLUSTERED 
(
	[Num_Doc_Personal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Evolucion_Turno]    Script Date: 28/05/2026 23:58:37 ******/
ALTER TABLE [dbo].[Registro_Evolucion] ADD  CONSTRAINT [UQ_Evolucion_Turno] UNIQUE NONCLUSTERED 
(
	[ID_Turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cronograma_Turnos] ADD  DEFAULT ('Pendiente') FOR [Estado_Turno]
GO
ALTER TABLE [dbo].[Historial_Estados] ADD  DEFAULT (getdate()) FOR [FecHora_Cambio]
GO
ALTER TABLE [dbo].[Pago_Virtual] ADD  DEFAULT (getdate()) FOR [FecHora_Pago]
GO
ALTER TABLE [dbo].[Personal_Enfermeria] ADD  DEFAULT ((1)) FOR [Estado_Activo]
GO
ALTER TABLE [dbo].[Registro_Evolucion] ADD  DEFAULT (getdate()) FOR [FecHora_Registro]
GO
ALTER TABLE [dbo].[Solicitud_Servicio] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [dbo].[Solicitud_Servicio] ADD  DEFAULT ('En Proceso') FOR [Estado_Global]
GO
ALTER TABLE [dbo].[Cronograma_Turnos]  WITH CHECK ADD  CONSTRAINT [FK_Turno_Personal] FOREIGN KEY([ID_Personal])
REFERENCES [dbo].[Personal_Enfermeria] ([ID_Personal])
GO
ALTER TABLE [dbo].[Cronograma_Turnos] CHECK CONSTRAINT [FK_Turno_Personal]
GO
ALTER TABLE [dbo].[Cronograma_Turnos]  WITH CHECK ADD  CONSTRAINT [FK_Turno_Solicitud] FOREIGN KEY([ID_Solicitud])
REFERENCES [dbo].[Solicitud_Servicio] ([ID_Solicitud])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cronograma_Turnos] CHECK CONSTRAINT [FK_Turno_Solicitud]
GO
ALTER TABLE [dbo].[Historial_Estados]  WITH CHECK ADD  CONSTRAINT [FK_Historial_Turno] FOREIGN KEY([ID_Turno])
REFERENCES [dbo].[Cronograma_Turnos] ([ID_Turno])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Historial_Estados] CHECK CONSTRAINT [FK_Historial_Turno]
GO
ALTER TABLE [dbo].[Pago_Virtual]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Turno] FOREIGN KEY([ID_Turno])
REFERENCES [dbo].[Cronograma_Turnos] ([ID_Turno])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pago_Virtual] CHECK CONSTRAINT [FK_Pago_Turno]
GO
ALTER TABLE [dbo].[Registro_Evolucion]  WITH CHECK ADD  CONSTRAINT [FK_Evolucion_Turno] FOREIGN KEY([ID_Turno])
REFERENCES [dbo].[Cronograma_Turnos] ([ID_Turno])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registro_Evolucion] CHECK CONSTRAINT [FK_Evolucion_Turno]
GO
ALTER TABLE [dbo].[Solicitud_Servicio]  WITH CHECK ADD  CONSTRAINT [FK_Solicitud_Paciente] FOREIGN KEY([ID_Paciente])
REFERENCES [dbo].[Dim_Pacientes] ([ID_Paciente])
GO
ALTER TABLE [dbo].[Solicitud_Servicio] CHECK CONSTRAINT [FK_Solicitud_Paciente]
GO
ALTER TABLE [dbo].[Solicitud_Servicio]  WITH CHECK ADD  CONSTRAINT [FK_Solicitud_Responsable] FOREIGN KEY([ID_Responsable])
REFERENCES [dbo].[Dim_Responsables] ([ID_Responsable])
GO
ALTER TABLE [dbo].[Solicitud_Servicio] CHECK CONSTRAINT [FK_Solicitud_Responsable]
GO
ALTER TABLE [dbo].[Solicitud_Servicio]  WITH CHECK ADD  CONSTRAINT [FK_Solicitud_Servicio] FOREIGN KEY([ID_Servicio])
REFERENCES [dbo].[Catalogo_Servicios] ([ID_Servicio])
GO
ALTER TABLE [dbo].[Solicitud_Servicio] CHECK CONSTRAINT [FK_Solicitud_Servicio]
GO
ALTER TABLE [dbo].[Catalogo_Servicios]  WITH CHECK ADD  CONSTRAINT [CHK_Tarifa_Positiva] CHECK  (([Tarifa_Base]>(0)))
GO
ALTER TABLE [dbo].[Catalogo_Servicios] CHECK CONSTRAINT [CHK_Tarifa_Positiva]
GO
ALTER TABLE [dbo].[Cronograma_Turnos]  WITH CHECK ADD  CONSTRAINT [CHK_Fechas_Programadas] CHECK  (([FecHora_Prog_Inicio]<[FecHora_Prog_Fin]))
GO
ALTER TABLE [dbo].[Cronograma_Turnos] CHECK CONSTRAINT [CHK_Fechas_Programadas]
GO
ALTER TABLE [dbo].[Pago_Virtual]  WITH CHECK ADD  CONSTRAINT [CHK_Monto_Abonado] CHECK  (([Monto_Abonado]>(0)))
GO
ALTER TABLE [dbo].[Pago_Virtual] CHECK CONSTRAINT [CHK_Monto_Abonado]
GO
USE [master]
GO
